// 颜色主题配置

// 主题色
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

// 代码高亮主题
$codeTextColor = #abb2bf

// 提示框颜色
$tipColor = #42b983
$warningColor = #f39c12
$dangerColor = #e74c3c

// 背景色
$bgColor = #ffffff
$arrowBgColor = #ccc

// 侧边栏
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式断点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

